* {
	color: #eee;
	font-family: Consolas;
	opacity: 1;
	font-size: 12pt;
}

h1 {
	font-size: 20pt;
	margin: 0px;
}

body {
	padding: 15px;
	margin: 0px;
	background-color: #000000;
}

* a{
	text-decoration: none;
	color: #00aacc;
}

* a:hover{
	text-decoration: none;
	color: #33ddff;
	transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
}

#cmd {
	background-color: #000000;
	/* border: none; */
	border: solid 1px #393939;
	font-family: Consolas;
	opacity: 1;
	outline: none;
}

ul {
	list-style-type: square;
	margin: 0px;
}

.title {
	font-weight: bold;
}

.description {
	color: #888;
}

.cmdprefix {
	font-weight: bold;
}